{% extends 'base.html' %}
{% load static %}

{% block title %}
BAR PROJECT
{% endblock title %}

{% block content %}
    <section class="banner_area_index">
        <div class="container">
            <div class="banner_content">
                <h4>Bar project</h4>
                <h5>Атмосферный бар</h5>
            </div>
        </div>
    </section>

    <section class="most_popular_item_area">
        <div class="container">
            <div class="s_white_title">
                <h3>Меню и карта бара</h3>
            </div>
            <div class="popular_filter">
                <ul>
                    <li class="active"><a href="#" data-filter="all">Все</a></li>
                    {% for category in categories %}
                    <li><a href="#" data-filter="{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="p_recype_item_main">
                <div class="row p_recype_item_active">
                    {% for meal in meal_lists %}
                    <div class="col-md-6 category-{{ meal.category.id }}">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ meal.image.url }}" alt="{{ meal.name }}">
                            </div>
                            <div class="media-body">
                                <a href="#"><h3>{{ meal.name }}</h3></a>
                                <h4>{{ meal.price }} РУБ</h4>
                                <p>{{ meal.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
