{% extends 'base.html'%}
{% block title%}
Профиль
{%endblock title%}

{% block content %}
    <section class="banner_area">
        <div class="container">
            <div class="banner_content">
                <h4>Профиль</h4>
                <a href="{% url 'Home:index' %}">Главная</a>
                <a class="active" href="">Профиль</a>
            </div>
        </div>
    </section>

<section class="profile_section">
    <div class="container">
        <div class="profile_title">Ваш профиль</div>
        <div class="profile_info">
            <div class="info_field">
                <span class="info_label">Имя:</span>
                <span class="info_value">{{ request.user.username }}</span>
            </div>
            <div class="info_field">
                <span class="info_label">Email:</span>
                <span class="info_value">{{ request.user.email }}</span>
            </div>
            <div class="info_field">
                <span class="info_label">Телефон:</span>
                <span class="info_value">{{ request.user.phone_number }}</span>
            </div>
            <a href="{% url 'Account:profile_update' %}" class="btn">Изменить профиль</a>
            <a href="{% url 'Account:change_password' %}" class="btn">Изменить пароль</a>
        </div>
    </div>
</section>
<section class="profile_section">
    <div class="container">
        <div class="booking_list">
            <div class="profile_title">Ваши бронирования</div>
            {% if bookings %}
            <ul>
                {% for booking in bookings %}
                <li class="booking_item">
                    <div class="booking_details">
                        <p><strong>Дата:</strong> {{ booking.date }}</p>
                        <p><strong>Время:</strong> {{ booking.time }}</p>
                        <p><strong>Стол:</strong> {{ booking.table.number }}</p>
                        <p><strong>Людей:</strong> {{ booking.person }}</p>
                        <p><strong>Запрос:</strong> {{ booking.special_request }}</p>
                    </div>
                    <div class="cancel_button">
                        <form action="{% url 'Account:cancel_booking' booking.id %}" method="post">
                            {% csrf_token %}
                            <button>Отменить</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>У вас нет бронирований.</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
