{% extends 'base.html'%}
{%load static %}
{% block title%}
О нас
{%endblock title%}

{% block content%}

        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h4>О нас</h4>
                    <a href="{% url 'Home:index' %}">Главная</a>
                    <a class="active" href="#">О нас</a>
                </div>
            </div>
        </section>

        <section class="about_us_content">
            <div class="container">
              {% for about in about_us%}
                <div class="row about_inner_item">
                    <div class="col-md-6">
                        <div class="about_left_content">
                            <h4>{{about.title}}</h4>
                            <p>{{about.description_main}}.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_right_ms">
                            <div class="about_ms_item wb50">
                                <img src="{{about.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
              {%endfor%}

            </div>
        </section>
{%endblock content%}
