{% extends 'base.html' %}
{% block title %}
Меню
{% endblock title %}

{% block content %}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>Меню и карта бара</h4>
            <a href="{% url 'Home:index' %}">Главная</a>
            <a class="active" href="#">Меню</a>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Our Feature Area =================-->
<section class="most_popular_item_area menu_list_page">
    <div class="container">
        <div class="popular_filter">
            <ul>
                <li class="active"><a href="#" data-filter="all">Все</a></li>
                {% for category in categories %}
                <li><a href="#" data-filter="{{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="p_recype_item_main">
            <div class="row p_recype_item_active">
                {% for item in menu_lists %}
                <div class="col-md-6 item" data-category="{{ item.category.id }}">
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ item.image.url }}" alt="{{ item.name }}">
                        </div>
                        <div class="media-body">
                            <a><h3>{{ item.name }}</h3></a>
                            <h4>{{ item.price }} РУБ</h4>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--================End Our Feature Area =================-->
{% endblock content %}
